
<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
         <table class='table'>
           <tr>
             <%= image_tag @user.get_profile_image(100,100) %>
               <% if @user == current_user %>
               <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
             <% end %>
            </tr>
            <tr>
              <th>user name</th>
              <th><%= @user.name %></th>
            </tr>
            <tr>
              <th>follows</th>
              <th><%= link_to @user.followings.count, user_followings_path(@user) %></th>
            </tr>
            <tr>
              <th>followers</th>
              <th><%= link_to @user.followers.count, user_followers_path(@user) %></th>
            </tr>
         </table>
    </div>
  </div>
</div>



<%= render 'post_images/list', post_images: @post_images %>